n8n/mercado_bot.json
{
  "name": "NeoVertex Mercado - Bot",
  "nodes": [
    {
      "id": "29adade7-b9d5-49e5-bd64-be323d6572b3",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "JshBGRby8HIJowz3",
          "name": "Telegram NeoVertex Mercado"
        }
      },
      "webhookId": "c3fa6adb-f950-4e92-8f05-9deccd6e3e1c"
    },
    {
      "id": "93fda6f8-ea0a-4c0a-8403-ae0b0c3861b0",
      "name": "Agente Mercado",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        280,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Você é o assistente de mercado da Neo Vertex no Telegram.\nIDIOMA: detecte o idioma da mensagem e responda SEMPRE no mesmo idioma — português (PT-BR), inglês ou francês.\nFerramentas:\n- 'cotacao_binance': preço e variação 24h.\n- 'entrada_liquida': entrada líquida do dia (compra agressiva menos venda agressiva, USDT) e % de compra. Para perguntas de entrada/fluxo/pressão.\n- 'grandes_negociacoes': maior compra e maior venda agressiva entre as negociações RECENTES (não o dia inteiro — deixe claro). Para 'maior compra/venda', maior ordem ou baleia.\n- 'criar_alerta': cria um alerta para o usuário ser avisado neste chat. Use quando pedirem 'me avise/notifique quando...'. Campos: kind='price' (alvo de PREÇO) ou 'institutional' (alvo de PRÊMIO COINBASE em %); operator='gte' (atingir ou acima) ou 'lte' (atingir ou abaixo); target=número (preço em USDT se price, % se institutional); symbol=base (ex.: BTC). Depois de criar, CONFIRME em linguagem natural o que foi configurado.\nRegras: nunca invente números, use as ferramentas. Sem emoji decorativo. Watchlist: BTC, ETH, SOL, SUI, XRP. Fora de mercado, redirecione gentilmente."
        }
      }
    },
    {
      "id": "1b93fad3-38bf-4dde-a7ff-d6f5504bfe0f",
      "name": "Responder Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        620,
        0
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "JshBGRby8HIJowz3",
          "name": "Telegram NeoVertex Mercado"
        }
      },
      "webhookId": "703fa33f-afac-4aaa-a4e7-e6dd93098215"
    },
    {
      "id": "915b4a63-91b8-423b-a423-74b1bdc20417",
      "name": "GPT-4.1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        220
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "TWq7uLhF8YDLwDmB",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "5b6f53f3-27a8-41a7-b51b-639466305472",
      "name": "Memória",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        320,
        220
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "tableName": "nv_mercado_memoria",
        "contextWindowLength": 30
      },
      "credentials": {
        "postgres": {
          "id": "aJKw8OGZ2pzPHt0E",
          "name": "NeoVertex Postgres"
        }
      }
    },
    {
      "id": "3b87f767-eced-40b6-a4e7-277dcdda37bb",
      "name": "Refletir",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        470,
        220
      ],
      "parameters": {
        "description": "Use para raciocinar antes de responder sobre mercado."
      }
    },
    {
      "id": "74442bd9-da82-48cd-9c56-73f5dacbdc61",
      "name": "cotacao_binance",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        620,
        220
      ],
      "parameters": {
        "toolDescription": "Retorna preço atual e variação de 24h de uma cripto na Binance. Informe o símbolo base em maiúsculas (ex.: BTC, ETH, SOL, SUI, XRP).",
        "method": "GET",
        "url": "https://api.binance.com/api/v3/ticker/24hr?symbol={symbol}USDT",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "symbol",
              "description": "Símbolo base da cripto em maiúsculas, ex.: BTC",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "fdc27202-d14a-4a83-945b-7ef24786c607",
      "name": "Registrar chat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        280,
        200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO telegram_subscribers (chat_id, label, is_admin) VALUES ($1, 'admin', true) ON CONFLICT (chat_id) DO NOTHING",
        "options": {
          "queryReplacement": "={{ $json.message.chat.id }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "aJKw8OGZ2pzPHt0E",
          "name": "NeoVertex Postgres"
        }
      }
    },
    {
      "id": "2b8c635d-3c77-4c89-92cc-a86a5c65645d",
      "name": "entrada_liquida",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        780,
        360
      ],
      "parameters": {
        "toolDescription": "Retorna a ENTRADA LÍQUIDA do dia de uma cripto (compra agressiva menos venda agressiva, em USDT) + % de compra, variação e volume. Use para perguntas sobre entrada, fluxo, quanto entrou/saiu, pressão compradora ou baleia. Informe o símbolo base, ex.: SUI.",
        "method": "GET",
        "url": "https://n8n.neovertexia.com/webhook/entrada-liquida-865e05c7?symbol={symbol}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "symbol",
              "description": "Símbolo base da cripto em maiúsculas, ex.: SUI",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "01bfa08a-1810-4743-bd31-3ce17fe4f3f6",
      "name": "grandes_negociacoes",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        780,
        520
      ],
      "parameters": {
        "toolDescription": "Retorna a maior COMPRA e a maior VENDA agressiva (em USDT) entre as negociações RECENTES de uma cripto (não o dia inteiro, por limite da API pública). Use para 'maior compra', 'maior venda', maior ordem ou grande trade/baleia. Informe o símbolo base, ex.: BTC.",
        "method": "GET",
        "url": "https://n8n.neovertexia.com/webhook/grandes-trades-91572e52?symbol={symbol}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "symbol",
              "description": "Símbolo base da cripto em maiúsculas, ex.: BTC",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "7a5ed98f-b161-43d4-b24b-a075a38962cb",
      "name": "criar_alerta",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        780,
        680
      ],
      "parameters": {
        "toolDescription": "Cria um alerta de mercado para o usuário ser notificado. Use quando pedirem para ser avisados quando um ativo atingir um preço (kind=price) ou um prêmio Coinbase em % (kind=institutional).",
        "method": "POST",
        "url": "https://n8n.neovertexia.com/webhook/criar-alerta-96132836",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"kind\":\"{kind}\",\"symbol\":\"{symbol}\",\"operator\":\"{operator}\",\"target\":\"{target}\"}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "kind",
              "description": "'price' para alvo de preço ou 'institutional' para prêmio Coinbase",
              "type": "string"
            },
            {
              "name": "symbol",
              "description": "símbolo base da cripto em maiúsculas, ex.: BTC",
              "type": "string"
            },
            {
              "name": "operator",
              "description": "'gte' (atingir ou acima) ou 'lte' (atingir ou abaixo)",
              "type": "string"
            },
            {
              "name": "target",
              "description": "número alvo: preço em USDT (price) ou percentual (institutional)",
              "type": "string"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Agente Mercado",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Mercado": {
      "main": [
        [
          {
            "node": "Responder Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Mercado",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memória": {
      "ai_memory": [
        [
          {
            "node": "Agente Mercado",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Agente Mercado",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cotacao_binance": {
      "ai_tool": [
        [
          {
            "node": "Agente Mercado",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "entrada_liquida": {
      "ai_tool": [
        [
          {
            "node": "Agente Mercado",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "grandes_negociacoes": {
      "ai_tool": [
        [
          {
            "node": "Agente Mercado",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "criar_alerta": {
      "ai_tool": [
        [
          {
            "node": "Agente Mercado",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}